PORT=4000
MONGODB_URI=your-mongo-db-connection-string
CORS_ORIGIN=*


CLODINARY_CLOUD_NAME=clodiniry-cloud-name
CLODINARY_API_KEY=cloudiniry-api-key
CLODINARY_API_SECRET=clodiniry-api-secret
CLOUDINARY_URL=cloudiniry-project-url


ACCESS_TOKEN_SECRET=your-acces-token-secret 
REFRESH_TOKEN_SECRET=refresh-token-secret
ACCESS_TOKEN_EXPIRATION=7d
REFRESH_TOKEN_EXPIRATION=30d

NODE_ENV=production
